*~
.svn
.cvs
.git
.listing
*.bak
*.swp
.cache
temp
tmp
*.tmp
.DS_Store
imagecache*
*_backup
gt-cache
ics-importer-cache
pclzip-*
Thumbs.db
wp-config.php
wp-config-sample.php
wp-content/backup*
wp-content/cache
wp-content/temp*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/uploads/am_assets/*
log.txt
debug.log
.sass-cache/
.vagrant
data
wp-content/*.sql
provision.sh
Vagrantfile
/vendor/
composer.phar
